body {
  
  background-color: #000000

}


  h1 {

  color: #00FF00;

    font-family: Times New Roman
    
  }


p {

  color: #00FF00;

   font-family: Times New Roman
  
}


ul {

color: #00FF00;

   font-family: Times New Roman
  
}


img {

color: #00FF00;

}


a {

color: #00FFFC;

}
