body {
  
  background-color: #000000

}


  h1 {

  color: #00FF00;

    font-family: Display
    
  }


p {

  color: #00FF00;

   font-family: Display
  
}


ul {

color: #00FF00;

   font-family: Display
  
}
